 **Verilerin istatiksel olarak incelenmesi ve aykırı degerleri ayıklama**

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Verinin yuklenmesi

In [24]:
df=pd.read_csv("data (1).csv")

In [25]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5361 entries, 0 to 5360
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   city          5361 non-null   object
 1   district      5361 non-null   object
 2   neighborhood  5361 non-null   object
 3   room          5361 non-null   int64
 4   living-room   5361 non-null   int64
 5   area          5361 non-null   int64
 6   age           5361 non-null   int64
 7   floor         5361 non-null   int64
 8   price         5361 non-null   int64
dtypes: int64(6), object(3)
memory usage: 377.1+ KB
None

In [26]:
df['city'] = df['city'].astype('category')
df['district'] = df['district'].astype('category')
df['neighborhood'] = df['neighborhood'].astype('category')
df['room'] = df['room'].astype('int')
df['living-room'] = df['living-room'].astype('int')
df['area'] = df['area'].astype('int')
df['age'] = df['age'].astype('int')
df['floor'] = df['floor'].astype('int')
df['price'] = df['price'].astype('int')

In [27]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5361 entries, 0 to 5360
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   city          5361 non-null   category
 1   district      5361 non-null   category
 2   neighborhood  5361 non-null   category
 3   room          5361 non-null   int64
 4   living-room   5361 non-null   int64
 5   area          5361 non-null   int64
 6   age           5361 non-null   int64
 7   floor         5361 non-null   int64
 8   price         5361 non-null   int64
dtypes: category(3), int64(6)
memory usage: 296.9 KB
None

Numerik degerlerin min maks bulma

In [28]:
columns = df.select_dtypes(include=[np.number]).columns
min_values = []
max_values = []
for column in columns:
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    min_value = Q1 - 1.5 * IQR
    max_value = Q3 + 1.5 * IQR
    min_values.append(min_value)
    max_values.append(max_value)
    print(f"Column: {column}, min: {min_value}, max: {max_value}")

Column: room, min: 0.5, max: 4.5
Column: living-room, min: 1.0, max: 1.0
Column: area, min: -15.0, max: 225.0
Column: age, min: -25.0, max: 55.0
Column: floor, min: -2.0, max: 6.0
Column: price, min: -10500.0, max: 57500.0

Genelde bir salonlu evlerin oldugunu görüyoruz.Yas alan fiyat  alt degerlerde düzeltmeler yapmak gerekli üst degerleri sınır olarak alırız.

**Aykırı degerlerin temizlenmesi**

In [29]:
for i, column in enumerate(columns):
    df = df[(df[column] >= min_values[i]) & (df[column] <= max_values[i])]

In [30]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 4288 entries, 0 to 5360
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   city          4288 non-null   category
 1   district      4288 non-null   category
 2   neighborhood  4288 non-null   category
 3   room          4288 non-null   int64
 4   living-room   4288 non-null   int64
 5   area          4288 non-null   int64
 6   age           4288 non-null   int64
 7   floor         4288 non-null   int64
 8   price         4288 non-null   int64
dtypes: category(3), int64(6)
memory usage: 275.8 KB
None

In [31]:
print(df.describe())

              room  living-room         area          age        floor  \
count  4288.000000       4288.0  4288.000000  4288.000000  4288.000000
mean      2.142724          1.0   101.226446    14.799207     2.264925
std       0.829063          0.0    37.652064    11.824588     1.717312
min       1.000000          1.0    20.000000     0.000000    -2.000000
25%       1.000000          1.0    70.000000     5.000000     1.000000
50%       2.000000          1.0   100.000000    12.000000     2.000000
75%       3.000000          1.0   130.000000    25.000000     3.000000
max       4.000000          1.0   225.000000    55.000000     6.000000

              price
count   4288.000000
mean   19842.338619
std    12222.267908
min       50.000000
25%    14000.000000
50%    20000.000000
75%    26125.000000
max    57500.000000

min Kira için elle duzeltme

In [35]:
df=df[df['price']>=3000]

In [36]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 3586 entries, 194 to 5360
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   city          3586 non-null   category
 1   district      3586 non-null   category
 2   neighborhood  3586 non-null   category
 3   room          3586 non-null   int64
 4   living-room   3586 non-null   int64
 5   area          3586 non-null   int64
 6   age           3586 non-null   int64
 7   floor         3586 non-null   int64
 8   price         3586 non-null   int64
dtypes: category(3), int64(6)
memory usage: 234.7 KB
None

In [38]:
df.to_csv("data_cleand.csv",index=False)