**2025 Ege bölgesi için kira tahmin uygulaması**                                     
Veriler hepsi emlakta yayında bulunan butun ilanlar üzerinden instant data scraper uzantısıyla çekilmiştir . Asagidaki şehirlerin verileri alınmıştır.


* İzmir
* Manisa
* Aydın
* Denizli
* Muğla
* Afyonkarahisar
* Kütahya
* Uşak

yararlanılan kaynak:[Gerçek Verilerle Makine Öğrenmesi: Kira Tahmini Uygulaması](https://www.youtube.com/playlist?list=PL30NBs02RsiVtALCWtMyRT45caVKXhpdU)

In [126]:
import os
import pandas as pd
import numpy as np

In [128]:
df=pd.read_csv('/content/sample_data/emlak_data/hepsiemlak.csv')

In [129]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1656 entries, 0 to 1655
Data columns (total 19 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   img-link href                        1656 non-null   object
 1   photo-count                          1656 non-null   int64
 2   list-view-price                      1656 non-null   object
 3   list-view-date                       1656 non-null   object
 4   left                                 1656 non-null   object
 5   celly                                1656 non-null   object
 6   celly 2                              1656 non-null   object
 7   celly 3                              1656 non-null   object
 8   celly 4                              1494 non-null   object
 9   eids-badge__description              1466 non-null   object
 10  he-lazy-image src                    1592 non-null   object
 11  eids-badge__label                    1466 non-null   object
 12  list-view-location                   1656 non-null   object
 13  img-wrp href                         976 non-null    object
 14  he-lazy-image src 2                  1447 non-null   object
 15  wp-btn                               1655 non-null   object
 16  listing-card--owner-info__firm-name  976 non-null    object
 17  he-lazy-image src 3                  855 non-null    object
 18  list-view-header                     1651 non-null   object
dtypes: int64(1), object(18)
memory usage: 245.9+ KB
None

In [130]:
os.listdir('/content/sample_data/emlak_data')

['hepsiemlak (2).csv',
 'hepsiemlak (3).csv',
 'hepsiemlak (6).csv',
 'hepsiemlak (4).csv',
 'hepsiemlak (8).csv',
 'hepsiemlak (5).csv',
 'hepsiemlak (1).csv',
 'hepsiemlak (7).csv',
 'hepsiemlak.csv']

In [131]:
#dosyalar birleştirildi
files=os.listdir('/content/sample_data/emlak_data')
df =pd.concat([pd.read_csv(f'/content/sample_data/emlak_data/{file}') for file in files],ignore_index=True)

In [132]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5361 entries, 0 to 5360
Data columns (total 21 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   img-link href                        5361 non-null   object
 1   photo-count                          5361 non-null   int64
 2   list-view-price                      5361 non-null   object
 3   list-view-date                       5361 non-null   object
 4   left                                 5263 non-null   object
 5   celly                                5361 non-null   object
 6   celly 2                              5361 non-null   object
 7   celly 3                              5360 non-null   object
 8   celly 4                              4727 non-null   object
 9   eids-badge__description              4491 non-null   object
 10  he-lazy-image src                    4824 non-null   object
 11  eids-badge__label                    4491 non-null   object
 12  list-view-header                     5352 non-null   object
 13  list-view-location                   5361 non-null   object
 14  img-wrp href                         3436 non-null   object
 15  listing-card--owner-info__firm-name  3436 non-null   object
 16  he-lazy-image src 2                  4807 non-null   object
 17  he-lazy-image src 3                  3036 non-null   object
 18  img-wrp href 2                       149 non-null    object
 19  wp-btn                               2284 non-null   object
 20  listing-card--owner-info__name       157 non-null    object
dtypes: int64(1), object(20)
memory usage: 879.7+ KB
None

In [133]:
print(df.columns)

Index(['img-link href', 'photo-count', 'list-view-price', 'list-view-date',
       'left', 'celly', 'celly 2', 'celly 3', 'celly 4',
       'eids-badge__description', 'he-lazy-image src', 'eids-badge__label',
       'list-view-header', 'list-view-location', 'img-wrp href',
       'listing-card--owner-info__firm-name', 'he-lazy-image src 2',
       'he-lazy-image src 3', 'img-wrp href 2', 'wp-btn',
       'listing-card--owner-info__name'],
      dtype='object')

In [134]:
df.drop([ 'photo-count',  'list-view-date','left', 'eids-badge__description', 'he-lazy-image src', 'eids-badge__label', 'list-view-header', 'list-view-location', 'img-wrp href', 'listing-card--owner-info__firm-name', 'he-lazy-image src 2','he-lazy-image src 3', 'img-wrp href 2', 'wp-btn','listing-card--owner-info__name'],axis=1,inplace=True)

In [135]:
df.columns

Index(['img-link href', 'list-view-price', 'celly', 'celly 2', 'celly 3',
       'celly 4'],
      dtype='object')

In [37]:
#s="https://www.hepsiemlak.com/izmir-karsiyaka-nergiz-kiralik/daire/123075-4420"

In [41]:
'''
şehir ilçe mahalle ayırmaları için kullanıldı
x=s.split('/')[3]
print(x)
x.split('-')
'''

izmir-karsiyaka-nergiz-kiralik

['izmir', 'karsiyaka', 'nergiz', 'kiralik']

In [47]:
#mahalle isimleri birden fazla kelimeden oluştugu durumlarda boşlugu kaldırmak için join işlemi yaptıldı
'''
x.split('-')[2:-1]
"_".join(x.split('-')[2:-1])

'''

'nergiz'

In [136]:
df['location']=df['img-link href'].apply(lambda x: x.split('/')[3])
df['city']=df['location'].str.split('-').str[0]
df['district']=df['location'].str.split('-').str[1]
df['neighborhood']=df['location'].str.split('-').str[2:-1]
df['neighborhood']=df['neighborhood'].apply(lambda x: '_'.join(x))

In [137]:
df.drop(['location','img-link href'],axis=1,inplace=True)

In [138]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5361 entries, 0 to 5360
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   list-view-price  5361 non-null   object
 1   celly            5361 non-null   object
 2   celly 2          5361 non-null   object
 3   celly 3          5360 non-null   object
 4   celly 4          4727 non-null   object
 5   city             5361 non-null   object
 6   district         5361 non-null   object
 7   neighborhood     5361 non-null   object
dtypes: object(8)
memory usage: 335.2+ KB
None

In [139]:
print(df[['city','district','neighborhood']].sample(30))

        city  district    neighborhood
3776   izmir     cesme         alacati
2003   mugla    bodrum           yahsi
1514   mugla    bodrum        kucukbuk
4378   izmir   balcova    fevzi_cakmak
4984   izmir      buca        yaylacik
4726   izmir     konak      mithatpasa
560    aydin   nazilli        isabeyli
1766   mugla    bodrum   islamhaneleri
1765   mugla    bodrum        gundogan
5284   izmir      buca        menderes
3612   izmir     cesme         alacati
4179   izmir   bornova        barbaros
3160   izmir  bayrakli          adalet
5088   izmir  bayrakli       gumuspala
280    aydin    efeler  adnan_menderes
1468   mugla   mentese       karsiyaka
4186   izmir    odemis         umurbey
1438   mugla    bodrum           bitez
4125   izmir  bayrakli           cicek
4921   izmir      foca    yenibagarasi
1856   mugla    bodrum        akyarlar
29    manisa   salihli      cumhuriyet
2774   izmir      buca         adatepe
4212   izmir     cigli    yeni_mahalle
4392   izmir   bornova           inonu
4737   izmir   bornova         ataturk
399    aydin    efeler            cuma
1675   mugla    bodrum        turkbuku
3734   izmir   bornova          evka_3
2070   mugla   fethiye       karaculha

In [140]:
print(df['celly'].unique())

['2 +\n                          1' '3 +\n                          1'
 '1 +\n                          1' '4 +\n                          1'
 '2 +\n                          0' '4 +\n                          2'
 '3 +\n                          2' 'Stüdyo'
 '5 +\n                          1' '3 +\n                          0'
 '5 +\n                          2' '4 +\n                          0'
 '2 +\n                          2' '2 +\n                          10'
 '6 +\n                          2' '7 +\n                          1'
 '4 +\n                          3' '7 +\n                          3'
 '3 +\n                          10' '6 +\n                          1'
 '1 +\n                          2' '8 +\n                          2'
 '1 +\n                          10' '1 +\n                          3'
 '7 +\n                          2' '523 +\n                          1'
 '2 +\n                          25' '3 +\n                          3'
 '10 +\n                          1' '5 +\n                          0'
 '6 +\n                          3']

In [141]:
df['celly']=df['celly'].apply(lambda x:x.replace('Stüdyo','1+0'))
df['celly']=df['celly'].apply(lambda x:x.replace('\n',''))
df['room']=df['celly'].apply(lambda x:x.split('+')[0]).astype(int)
df['living-room']=df['celly'].apply(lambda x:x.split('+')[1]).astype(int)

In [142]:
print(df['room'].unique())
print(df['living-room'].unique())
#modelin daha iyi çalışması için uç degerlerin olmamalı

[  2   3   1   4   5   6   7   8 523  10]
[ 1  0  2 10  3 25]

In [143]:
df.drop(['celly'],axis=1,inplace=True)

In [144]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5361 entries, 0 to 5360
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   list-view-price  5361 non-null   object
 1   celly 2          5361 non-null   object
 2   celly 3          5360 non-null   object
 3   celly 4          4727 non-null   object
 4   city             5361 non-null   object
 5   district         5361 non-null   object
 6   neighborhood     5361 non-null   object
 7   room             5361 non-null   int64
 8   living-room      5361 non-null   int64
dtypes: int64(2), object(7)
memory usage: 377.1+ KB
None

In [145]:
 print(df['celly 2'].unique())

['90 m²' '145 m²' '110 m²' '130 m²' '65 m²' '160 m²' '135 m²' '105 m²'
 '95 m²' '116 m²' '125 m²' '88 m²' '189 m²' '45 m²' '128 m²' '100 m²'
 '60 m²' '140 m²' '70 m²' '200 m²' '155 m²' '41 m²' '190 m²' '98 m²'
 '80 m²' '150 m²' '50 m²' '55 m²' '210 m²' '250 m²' '120 m²' '71 m²'
 '115 m²' '147 m²' '230 m²' '94 m²' '129 m²' '156 m²' '75 m²' '220 m²'
 '138 m²' '62 m²' '180 m²' '165 m²' '83 m²' '124 m²' '89 m²' '102 m²'
 '57 m²' '79 m²' '85 m²' '96 m²' '43 m²' '58 m²' '670 m²' '400 m²'
 '131 m²' '175 m²' '35 m²' '142 m²' '186 m²' '350 m²' '114 m²' '170 m²'
 '154 m²' '72 m²' '22 m²' '437 m²' '73 m²' '40 m²' '205 m²' '78 m²'
 '298 m²' '240 m²' '117 m²' '66 m²' '51 m²' '750 m²' '59 m²' '49 m²'
 '292 m²' '68 m²' '310 m²' '64 m²' '52 m²' '185 m²' '47 m²' '87 m²'
 '149 m²' '225 m²' '550 m²' '280 m²' '174 m²' '118 m²' '132 m²' '25 m²'
 '159 m²' '146 m²' '178 m²' '48 m²' '195 m²' '169 m²' '30 m²' '173 m²'
 '300 m²' '20 m²' '215 m²' '198 m²' '141 m²' '53 m²' '900 m²' '213 m²'
 '42 m²' '183 m²' '54 m²' '148 m²' '245 m²' '500 m²' '380 m²' '97 m²'
 '270 m²' '44 m²' '260 m²' '32 m²' '208 m²' '74 m²' '112 m²' '450 m²'
 '152 m²' '1.000 m²' '337 m²' '92 m²' '76 m²' '93 m²' '113 m²' '86 m²'
 '36 m²' '111 m²' '479 m²' '56 m²' '108 m²' '99 m²' '360 m²' '136 m²'
 '555 m²' '134 m²' '480 m²' '235 m²' '192 m²' '166 m²' '34 m²' '103 m²'
 '364 m²' '365 m²' '199 m²' '81 m²' '650 m²' '119 m²' '222 m²' '666 m²'
 '424 m²' '226 m²' '2.464 m²' '38 m²' '127 m²' '139 m²' '123 m²' '133 m²'
 '107 m²' '320 m²' '2.500 m²' '640 m²' '224 m²' '122 m²' '265 m²' '227 m²'
 '290 m²' '680 m²' '46 m²' '27 m²' '84 m²' '161 m²' '91 m²' '24 m²'
 '77 m²' '201 m²' '168 m²' '101 m²' '525 m²' '109 m²' '126 m²' '104 m²'
 '735 m²' '261 m²' '251 m²' '177 m²' '63 m²' '315 m²' '69 m²' '252 m²'
 '600 m²' '255 m²' '144 m²' '67 m²' '187 m²' '179 m²' '425 m²' '345 m²'
 '275 m²' '12 m²' '137 m²' '82 m²' '420 m²' '214 m²' '335 m²' '355 m²'
 '375 m²' '238 m²' '164 m²' '248 m²' '1.200 m²' '121 m²' '162 m²' '232 m²'
 '33 m²' '1.305 m²' '4.650 m²' '158 m²' '143 m²' '242 m²' '254 m²'
 '249 m²' '167 m²']

In [146]:
 1.120  #bu sebepten nokta boşlukla degistirildi

1.12

In [147]:
 df['celly 2']=df['celly 2'].apply(lambda x: x.replace('.', ''))
 df['area'] = df['celly 2'].apply(lambda x: int(x.split(' ')[0]))

In [148]:
 print(df['area'].unique())

[  90  145  110  130   65  160  135  105   95  116  125   88  189   45
  128  100   60  140   70  200  155   41  190   98   80  150   50   55
  210  250  120   71  115  147  230   94  129  156   75  220  138   62
  180  165   83  124   89  102   57   79   85   96   43   58  670  400
  131  175   35  142  186  350  114  170  154   72   22  437   73   40
  205   78  298  240  117   66   51  750   59   49  292   68  310   64
   52  185   47   87  149  225  550  280  174  118  132   25  159  146
  178   48  195  169   30  173  300   20  215  198  141   53  900  213
   42  183   54  148  245  500  380   97  270   44  260   32  208   74
  112  450  152 1000  337   92   76   93  113   86   36  111  479   56
  108   99  360  136  555  134  480  235  192  166   34  103  364  365
  199   81  650  119  222  666  424  226 2464   38  127  139  123  133
  107  320 2500  640  224  122  265  227  290  680   46   27   84  161
   91   24   77  201  168  101  525  109  126  104  735  261  251  177
   63  315   69  252  600  255  144   67  187  179  425  345  275   12
  137   82  420  214  335  355  375  238  164  248 1200  121  162  232
   33 1305 4650  158  143  242  254  249  167]

In [149]:
df.drop(['celly 2'],axis=1,inplace=True)

In [150]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5361 entries, 0 to 5360
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   list-view-price  5361 non-null   object
 1   celly 3          5360 non-null   object
 2   celly 4          4727 non-null   object
 3   city             5361 non-null   object
 4   district         5361 non-null   object
 5   neighborhood     5361 non-null   object
 6   room             5361 non-null   int64
 7   living-room      5361 non-null   int64
 8   area             5361 non-null   int64
dtypes: int64(3), object(6)
memory usage: 377.1+ KB
None

In [151]:
  print(df['celly 3'].unique())

['Sıfır Bina' '15\n                        Yaşında'
 '31\n                        Yaşında'
 '12\n                        Yaşında'
 '8\n                        Yaşında' '2\n                        Yaşında'
 '3\n                        Yaşında'
 '20\n                        Yaşında'
 '28\n                        Yaşında'
 '9\n                        Yaşında' '5\n                        Yaşında'
 '6\n                        Yaşında'
 '21\n                        Yaşında'
 '4\n                        Yaşında' '1\n                        Yaşında'
 '7\n                        Yaşında'
 '25\n                        Yaşında'
 '32\n                        Yaşında'
 '35\n                        Yaşında'
 '45\n                        Yaşında'
 '18\n                        Yaşında'
 '10\n                        Yaşında'
 '14\n                        Yaşında'
 '27\n                        Yaşında'
 '30\n                        Yaşında'
 '24\n                        Yaşında'
 '111\n                        Yaşında'
 '23\n                        Yaşında'
 '13\n                        Yaşında'
 '22\n                        Yaşında'
 '26\n                        Yaşında' nan
 '11\n                        Yaşında'
 '19\n                        Yaşında'
 '40\n                        Yaşında'
 '38\n                        Yaşında'
 '36\n                        Yaşında'
 '17\n                        Yaşında'
 '16\n                        Yaşında'
 '50\n                        Yaşında'
 '39\n                        Yaşında'
 '33\n                        Yaşında'
 '48\n                        Yaşında'
 '29\n                        Yaşında'
 '55\n                        Yaşında'
 '600\n                        Yaşında'
 '34\n                        Yaşında'
 '235\n                        Yaşında'
 '37\n                        Yaşında'
 '44\n                        Yaşında'
 '46\n                        Yaşında'
 '151\n                        Yaşında'
 '41\n                        Yaşında'
 '114\n                        Yaşında'
 '60\n                        Yaşında'
 '100\n                        Yaşında'
 '42\n                        Yaşında'
 '43\n                        Yaşında'
 '47\n                        Yaşında']

In [152]:
df['celly 3'] = df['celly 3'].apply(lambda x: str(x).replace('Sıfır Bina', '0 Yaşında'))
df['celly 3'] = df['celly 3'].apply(lambda x: str(x).replace('\n', ' '))
df['age'] = df['celly 3'].apply(lambda x: int(x.split(' ')[0]) if x.split(' ')[0].isdigit() else 0)

In [153]:
print(df['age'].unique())

[  0  15  31  12   8   2   3  20  28   9   5   6  21   4   1   7  25  32
  35  45  18  10  14  27  30  24 111  23  13  22  26  11  19  40  38  36
  17  16  50  39  33  48  29  55 600  34 235  37  44  46 151  41 114  60
 100  42  43  47]

In [154]:
df.drop(['celly 3'],axis=1,inplace=True)

In [155]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5361 entries, 0 to 5360
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   list-view-price  5361 non-null   object
 1   celly 4          4727 non-null   object
 2   city             5361 non-null   object
 3   district         5361 non-null   object
 4   neighborhood     5361 non-null   object
 5   room             5361 non-null   int64
 6   living-room      5361 non-null   int64
 7   area             5361 non-null   int64
 8   age              5361 non-null   int64
dtypes: int64(4), object(5)
memory usage: 377.1+ KB
None

In [156]:
print(df['celly 4'].unique())

['2. Kat' '3. Kat' nan 'Yüksek Giriş' '11. Kat' 'Kot 3' '1. Kat' 'Ara Kat'
 '4. Kat' 'Zemin' '6. Kat' 'En Üst Kat' 'Bahçe Katı' '5. Kat' '13. Kat'
 '8. Kat' '7. Kat' 'Kot 1' 'Çatı Katı' 'Giriş Katı' 'Villa Katı' '10. Kat'
 'Teras Katı' 'Yarı Bodrum' 'Kot 2' '12. Kat' 'Bodrum' '21 ve üzeri'
 '18. Kat' '16. Kat' '14. Kat' 'Tripleks' '9. Kat' '20. Kat' '19. Kat'
 '17. Kat' '15. Kat' 'Bodrum ve Zemin']

In [159]:
replace_dict = {
    'Kot 2': '-2. Kat',
    'Kot 1': '-1. Kat',
    'Yüksek Giriş': '1. Kat',
    'Ara Kat': '3. Kat',
    'En Üst Kat': '6. Kat',
    'Bahçe Katı': '0. Kat',
    'Yarı Bodrum': '0. Kat',
    'Bodrum': '0. Kat',
    'Kot 3': '-3. Kat',
    'Çatı Katı': '7. Kat',
    'Zemin': '0. Kat',
    'Giriş Katı': '0. Kat',
    'Villa Katı': '0. Kat',
    '21 ve üzeri': '21. Kat',
    'Bodrum ve Zemin': '0. Kat',
    'Asma Kat': '1. Kat',
    'Tripleks': '0. Kat',
    'Teras Katı': '5. Kat',
    'nan':'0. Kat',
}
df['celly 4'] = df['celly 4'].replace(replace_dict.keys(), replace_dict.values()).astype(str)
df['celly 4'].dropna(inplace=True)
df['floor'] = df['celly 4'].apply(lambda x: int(x.split('.')[0]) if x.split('.')[0].lstrip('-').isdigit() else np.nan)

In [160]:
print(df['floor'].unique())

[ 2  3  0  1 11 -3  4  6  5 13  8  7 -1 10 -2 12 21 18 16 14  9 20 19 17
 15]

In [162]:
df.drop(['celly 4'],axis=1,inplace=True)

In [163]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5361 entries, 0 to 5360
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   list-view-price  5361 non-null   object
 1   city             5361 non-null   object
 2   district         5361 non-null   object
 3   neighborhood     5361 non-null   object
 4   room             5361 non-null   int64
 5   living-room      5361 non-null   int64
 6   area             5361 non-null   int64
 7   age              5361 non-null   int64
 8   floor            5361 non-null   int64
dtypes: int64(5), object(4)
memory usage: 377.1+ KB
None

In [164]:
print(df['list-view-price'].unique())

[15.0 22.5 8.5 12.0 20.0 22.0 16.8 18.0 18.5 24.0 14.0 30.0 10.0 15.5 13.5
 16.0 19.0 17.0 13.0 14.5 40.0 11.5 25.5 33.0 27.0 9.5 19.5 7.5 28.0 21.0
 11.0 25.0 16.5 17.5 7.0 8.0 12.5 45.0 23.0 50.0 13.75 10.5 16.9 '12.000'
 '20.000' '27.500' '10.000' '15.000' '37.500' '55.000' '25.000' '26.000'
 '5.000' '14.000' '35.000' '29.000' '28.000' '16.000' '23.000' '22.000'
 '15.250' '17.000' '21.000' '17.500' '2.000' '40.000' '36.500' '33.000'
 '30.000' '27.000' '18.500' '13.500' '70.000' '13.000' '19.500' '45.000'
 '19.000' '52.000' '11.000' '13.900' '50.000' '18.000' '38.000' '32.500'
 '49.000' '32.000' '11.500' '12.500' '29.500' '14.500' '9.850' '75.000'
 '4.000' '65.000' '105.000' '9.000' '48.000' '80.000' '100.000' '8.500'
 '8.000' '20.500' '15.500' '15.750' '9.950' '36.000' '13.990' '200.000'
 '9.500' '16.500' '150.000' '22.500' '21.500' '62.500' '4.250' '5.500.000'
 '42.500' '10.500' '34.000' '5.500' '42.000' '10.400' '130.000' '300.000'
 '210.000' '2.500' '24.000' '270.000' '7.500' 6.5 12.75 9.0 32.0 28.5 5.0
 27.5 12.15 6.0 36.0 10.999 17.75 17.6 21.5 23.5 26.0 11.25 35.0 8.25 5.5
 24.999 46.0 6.25 40.25 19.95 20.7 28.75 250.0 14.9 10.25 8.75 18.75 12.25
 9.75 '550.000' '195.000' '120.000' '250.000' '47.500' '60.000' '160.000'
 '580.000' '125.000' '450.000' '165.000' '350.000' '420.000' '480.000'
 '400.000' '24.500' '7.250' '1.100.000' '110.000' '44.000' '22.750'
 '500.000' '185.000' '220.000' '1.250.000' '58.000' '360.000' '175.000'
 '37.000' '26.500' '475.000' '170.000' '90.000' '43.000' '85.000'
 '750.000' '23.500' '7.000' '180.000' '95.000' '28.500' '29.750' '140.000'
 '700.000' '190.000' '255.000' '545.000' '115.000' '290.000' '31.666'
 '6.000' '47.000' '46.000' '280.000' '53.000' '1.000' '7.900' '3.500.000'
 '333.333' '1.000.000' '370.000' '900.000' '17.250' '30.500' '275.000'
 '600.000' '18.250' '39.000' '127.000' '320.000' '14.750' '96.000'
 '78.000' '98.000' '31.000' '12.750' '11.250' '35.500' '4.350.000'
 '41.000' '3.650.000' '25.500' '21.250' '76.000' '1.500.000' '16.750'
 '950.000' '3.000' '66.000' '650.000' '6.800' '2.500.000' '14.950'
 '325.000' '390.000' '28.750' '31.500' '18.750' '240.000' '1.200.000'
 '6.500' '800.000' 7.25 7.2 15.999 '850.000' '875.000' '54.000' '13.250'
 '135.000' '48.500' '200' '375.000' '57.000' '29.950' '52.500' '57.500'
 '34.500' '19.800' '2.000.000' '400' '20.750' '19.750' '740.000'
 '1.600.000' '575.000' '62.000' '1.800.000' '525.000' '17.900' '30.900'
 '9.990' '14.250' '13.750' '56.000' '84.000' '68.000' '16.250' '2.250.000'
 '72.500']

In [165]:
df['list-view-price'] = df['list-view-price'].astype(str).apply(lambda x: x.replace('.', ''))
df['price'] = df['list-view-price'].astype(int)

In [166]:
print(df['price'].unique())

[    150     225      85     120     200     220     168     180     185
     240     140     300     100     155     135     160     190     170
     130     145     400     115     255     330     270      95     195
      75     280     210     110     250     165     175      70      80
     125     450     230     500    1375     105     169   12000   20000
   27500   10000   15000   37500   55000   25000   26000    5000   14000
   35000   29000   28000   16000   23000   22000   15250   17000   21000
   17500    2000   40000   36500   33000   30000   27000   18500   13500
   70000   13000   19500   45000   19000   52000   11000   13900   50000
   18000   38000   32500   49000   32000   11500   12500   29500   14500
    9850   75000    4000   65000  105000    9000   48000   80000  100000
    8500    8000   20500   15500   15750    9950   36000   13990  200000
    9500   16500  150000   22500   21500   62500    4250 5500000   42500
   10500   34000    5500   42000   10400  130000  300000  210000    2500
   24000  270000    7500      65    1275      90     320     285      50
     275    1215      60     360   10999    1775     176     215     235
     260    1125     350     825      55   24999     460     625    4025
    1995     207    2875     149    1025     875    1875    1225     975
  550000  195000  120000  250000   47500   60000  160000  580000  125000
  450000  165000  350000  420000  480000  400000   24500    7250 1100000
  110000   44000   22750  500000  185000  220000 1250000   58000  360000
  175000   37000   26500  475000  170000   90000   43000   85000  750000
   23500    7000  180000   95000   28500   29750  140000  700000  190000
  255000  545000  115000  290000   31666    6000   47000   46000  280000
   53000    1000    7900 3500000  333333 1000000  370000  900000   17250
   30500  275000  600000   18250   39000  127000  320000   14750   96000
   78000   98000   31000   12750   11250   35500 4350000   41000 3650000
   25500   21250   76000 1500000   16750  950000    3000   66000  650000
    6800 2500000   14950  325000  390000   28750   31500   18750  240000
 1200000    6500  800000     725      72   15999  850000  875000   54000
   13250  135000   48500  375000   57000   29950   52500   57500   34500
   19800 2000000   20750   19750  740000 1600000  575000   62000 1800000
  525000   17900   30900    9990   14250   13750   56000   84000   68000
   16250 2250000   72500]

In [168]:
df.drop(['list-view-price'],axis=1,inplace=True)

In [169]:
print(df.columns)

Index(['city', 'district', 'neighborhood', 'room', 'living-room', 'area',
       'age', 'floor', 'price'],
      dtype='object')

In [170]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5361 entries, 0 to 5360
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   city          5361 non-null   object
 1   district      5361 non-null   object
 2   neighborhood  5361 non-null   object
 3   room          5361 non-null   int64
 4   living-room   5361 non-null   int64
 5   area          5361 non-null   int64
 6   age           5361 non-null   int64
 7   floor         5361 non-null   int64
 8   price         5361 non-null   int64
dtypes: int64(6), object(3)
memory usage: 377.1+ KB
None

In [171]:
df.to_csv('data.csv', index=False)